body {
  margin: 0, 0, 0, 0;
}

@font-face {
  font-family: "alpaca";
  src: url("../fonts/Alpaca.otf");

  font-family: "sourceSans";
  src: url("../fonts/SourceSans.otf");
}

footer.page-footer {
  margin-top: 20px;
  padding-top: 20px;
  background-color: #282828;
  margin-bottom: 0px;
}

.alpaca {
  font-family: alpaca;
}

.sourcesans {
  font-family: sourceSans;
}

nav{
  background-color:#333; 
  width: 100%; 
  height: 70px; 
  line-height: 56px;
}

div.absolute {
    position: absolute;
}

div.relative {
    position: relative;
}

.btn, .btn-large,
.btn-flat {
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  outline: 0;
  padding: 0 2rem;
  text-transform: none;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
}

.material-icons.md-dark { color: rgba(251, 81, 21, 0.74); }
.material-icons.md-dark.md-inactive { color: rgba(251, 81, 21, 0.26); }

@media only screen and (max-width: 601px) {
  nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 50px;
    line-height: 50px;
  }
  .navbar-fixed {
    height: 50px;
  }
}

.row {
  margin-left: auto;
  margin-right: auto;
}


@font-face {
  font-family: 'Alpaca';
  src: url('../fonts/Alpaca.eot'); /* IE9 Compat Modes */
}

@font-face {
  font-family: 'Source Sans';
  src: url('../fonts/SourceSansPro-Regular.eot'); /* IE9 Compat Modes */
}

 html {
    font-family: "Source Sans", Roboto, sans-serif;
  }
  
.header{
	font-family: "Alpaca", Roboto, sans-serif;
}

  
  nav {
	  line-height:75px;
  }